<ion-view view-title="My Reddit">
  <ion-content class="padding">
   <div class="list">
     <a class="item item-thumbnail-left"
        href="{{story.url}}" target="_blank"
        ng-repeat="story in stories">
       <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.indexOf('http') === 0">
      <h2 class="story-title"> {{story.title}}</h2>
      <p>
        <span am-time-ago="story.created_utc | amFromUnix"></span>
        {{story.domain}}</p>
    </a>
   </div>
  </ion-content>
</ion-view>
